[submodule "Csocket"]
	path = third_party/Csocket
	url = https://github.com/chl0e3e/Csocket-win
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "docker"]
	path = docker
	url = https://github.com/znc/znc-docker
[submodule "third_party/cctz"]
	path = third_party/cctz
	url = https://github.com/google/cctz
